p.submit .button-primary {
	margin-right: 15px;
}
.inside table th {
	text-align: left;
}
#fileselect {
  border-collapse: collapse;
  width: 100%;
}
#fileselect th {
  width: 20%;
}
.filetableheading th {
  background-color: #EFEFEF;
  padding: 5px 10px;
}
span.selected-items {
  padding: 5px 0px 5px 10px;
  margin: 3px 10px 3px 0;
  background: #CAE9F0;
  border-bottom: 2px solid #8FC8D7;
}
span.deleteItem {
  padding: 5px 10px;
  margin: 0 0 0 5px;
  cursor: pointer;
}
span.deleteItem:hover {
  background-color: #BDC3C7;
}
#stat-not-ready {
  background-color: #cc0000;
  color: #FFFFFF;
  padding: 5px;
}
#stat-ready {
  background-color: #73b64a;
  color: #FFFFFF;
  padding: 5px;
}
.pdlp-ok {
  color: #6a9002;
}
.pdlp-cancel {
  color: #cc0000;
}
.pdlp-cancel.stage-1 {
  color: #2790b0;
}