/** Notices */
.error {
	border: 1px solid #CC0403;
	border-radius: 3px;
	background-color: #FCE8E8;
	padding: 5px 10px;
	color: #CC0403;
}
/** Alignment */
.center {
	text-align: center;
	margin: 0 auto;
}
/** Buttons */
.pmill-btn.download, a.pmill-btn.download {
  padding: 10px 40px;
  padding: 1rem 4rem;
  background-color: #e74c3c;
  border-bottom: 5px solid #eb1c24;
  color: #FFFFFF;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  width: 70%;
  margin: 0 auto 10px auto;
  margin: 0 auto 1rem auto;
}
.pmill-btn.download:hover, a.pmill-btn.download:hover {
  background-color: #eb1c24;
  border-bottom: 5px solid #a00309;
}
#rebranderSubmit.pmill-btn.download {
  width: 200px;
}
/** Miscellaneous */
#rebrandResponse {
	margin: 10px 0;
}
#rebrandProcess {
	text-align: center;
	display: none;
  margin: 10px 0;
}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}
#add-update-option {
  padding: 9px 0;
  padding: 0.9em 0;
}
#update-check-url, label[for="update-check-url"], #warning-update-check-url, label[for="updated-plugin-url"], #updated-plugin-url {
  display: none;
}
#warning-update-check-url {
    color: #EB1C24;
}
.update-check-url-highlight {
    border: solid 1px #EB1C24;
    background-color: #FCEBEB;
    box-shadow: 0 0 5px #EB1C24;
    box-shadow: 0 0 0.5em #EB1C24;
}