@font-face {
  font-family: 'dlpages';
  src: url('../font/dlpages.eot?16265872');
  src: url('../font/dlpages.eot?16265872#iefix') format('embedded-opentype'),
       url('../font/dlpages.woff?16265872') format('woff'),
       url('../font/dlpages.ttf?16265872') format('truetype'),
       url('../font/dlpages.svg?16265872#dlpages') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'dlpages';
    src: url('../font/dlpages.svg?16265872#dlpages') format('svg');
  }
}
*/
 
 [class^="pdlp-"]:before, [class*=" pdlp-"]:before {
  font-family: "dlpages";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.pdlp-ok-outline:before { content: '\e800'; } /* '' */
.pdlp-ok:before { content: '\e801'; } /* '' */
.pdlp-cancel-outline:before { content: '\e802'; } /* '' */
.pdlp-cancel:before { content: '\e803'; } /* '' */
.pdlp-thumbs-up:before { content: '\e804'; } /* '' */
.pdlp-thumbs-down:before { content: '\e805'; } /* '' */