
.pdlp-ok-outline:before { content: '\e800'; } /* '' */
.pdlp-ok:before { content: '\e801'; } /* '' */
.pdlp-cancel-outline:before { content: '\e802'; } /* '' */
.pdlp-cancel:before { content: '\e803'; } /* '' */
.pdlp-thumbs-up:before { content: '\e804'; } /* '' */
.pdlp-thumbs-down:before { content: '\e805'; } /* '' */